/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Layout Styles */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 20px;
    gap: 40px;
}

.login {
    flex: 1;
    min-width: 400px;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: rgb(240 255 254 / 80%);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    order: 1;
}

h1 {
    text-align: center;
    color: rgb(0 106 97);
}

.mb-3 {
    margin-bottom: 15px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Dropdown/Form Control Styles */
.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: black;
    font-weight: bold;
    transition: all 0.3s ease;
    cursor: pointer;
}

.form-control:hover {
    transform: scale(1.02);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-color: #007bff;
}

.form-control::placeholder {
    color: #888;
    font-weight: bold;
}

/* Button Styles */
.btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.bg-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.8);
}

.intro {
    flex: 1;
    min-width: 400px;
    padding: 20px;
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 1.6;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    order: 2;
}

.welcome {
    font-size: 4.5rem;
    display: block;
    margin-bottom: 15px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* Responsive Styles */
@media (max-width: 900px) {
    .container {
        flex-direction: column;
    }

    .login,
    .intro {
        min-width: 100%;
    }
}

/* Responsive Styles */
@media (max-width: 600px) {
    .login {
        padding: 15px;
    }

    .form-control {
        padding: 8px;
    }

    .btn {
        padding: 8px;
    }

    .intro {
        padding: 15px;
        font-size: 1rem;
        margin: 20px auto;
    }
}